@model IEnumerable<SDG_Education.Models.Core.Operations.ReceiveDonation>

@{
    ViewBag.Title = "Index";
}

<div class="row">

    <div class="col-xl-3 col-sm-6 mb-3">
        <a class="text-white clearfix small z-1" href="@Url.Action("Create", "ReceiveDonations")">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-comments"></i>
                    </div>
                    <div class="mr-5"> Receive New Donation</div>
                </div>

            </div>
        </a>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
        <a class="text-white clearfix small z-1" href="@Url.Action("Create", "ReceiveDonationDetails")">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-list"></i>
                    </div>
                    <div class="mr-5">Add Donation Items</div>
                </div>

            </div>
        </a>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
        <a class="text-white clearfix small z-1" href="@Url.Action("Create", "Books")">
            <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-shopping-cart"></i>
                    </div>
                    <div class="mr-5">Give Donation</div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
        <a class="text-white clearfix small z-1" href="@Url.Action("Index", "Sponsors")">
            <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-life-ring"></i>
                    </div>
                    <div class="mr-5">Manage Sponsors</div>
                </div>
            </div>
        </a>
    </div>

</div>




<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Reference
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DonationDate)
                    </th>
                    <th>
                        Center Name
                    </th>
                    <th>
                        Employee Name
                    </th>
                    <th>
                        Sponsor Name
                    </th>

                    <th></th>
                </tr>
            </thead>
            <body>
                @foreach (var item in Model)
                {
                    var donationDate = item.DonationDate.ToString("MM/dd/yyyy");
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReceiveDonationReference)
                        </td>
                        <td>
                            @donationDate
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Center.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sponsor.Name)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Remarks)
                            </td>*@
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Add Items", "Create", "ReceiveDonationDetails")
                        </td>
                    </tr>
                }
            </body>
        </table>
    </div>
</div>
