@model GroupProjectDonation272.Models.Donee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Donee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donation.DonationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donation.DonationName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DoneeID }) |
    @Html.ActionLink("Ba  @Html.ActionLink("Back to List", "Index")ck to List", "Index")
    
</p>
