<ul class="sidebar navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Home")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    @*<li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","ReceiveDonations")">
                <i class="fas fa-fw fa-smile"></i>
                <span>Receive Donation</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","OfferDonations")">
                <i class="fas fa-fw fa-smile"></i>
                <span>Offer Donation</span>
            </a>
        </li>*@
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Books")">
            <i class="fas fa-fw fa-book"></i>
            <span>Books</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Stationaries")">
            <i class="fas fa-fw fa-book"></i>
            <span>Stationary</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Centers")">
            <i class="fas fa-fw fa-building"></i>
            <span>Centers</span>
        </a>
    </li>

    @* Start For Sponsor *@
    @*<li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","BookDonations")">
                <i class="fas fa-fw fa-smile"></i>
                <span>Donate A Book</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","StationaryDonations")">
                <i class="fas fa-fw fa-smile"></i>
                <span>Donate A Stationary</span>
            </a>
        </li>*@
    @* End For Sponsor *@

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","ManageCategories")">
            <i class="fas fa-fw fa-th"></i>
            <span>Manage Types</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","ManageUsers")">
            <i class="fas fa-fw fa-users"></i>
            <span>Manage Users</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","ManageDonations")">
            <i class="fas fa-fw fa-smile"></i>
            <span>Manage Donations</span>
        </a>
    </li>

    @*<li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","StationaryTypes")">
                <i class="fas fa-fw fa-th"></i>
                <span>Stationary Types</span>
            </a>
        </li>*@
    @*<li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","CenterTypes")">
                <i class="fas fa-fw fa-th"></i>
                <span>Center Type</span>
            </a>
        </li>*@




    @*<li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Sponsors")">
                <i class="fas fa-fw fa-users"></i>
                <span>Sponsors</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Donees")">
                <i class="fas fa-fw fa-users"></i>
                <span>Donees</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Employees")">
                <i class="fas fa-fw fa-users"></i>
                <span>Employees</span>
            </a>
        </li>*@








</ul>
