@model GroupProjectDonation272.Models.Donation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Donation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.BookTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.BookTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stationary.StationaryDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stationary.StationaryDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DonationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
